<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nibou.niboucustomer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.NibouApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity android:name=".activitys.PastEventActivity"></activity>
        <activity android:name=".activitys.WelcomeActivity" />
        <activity android:name=".activitys.ShowDialogActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activitys.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="androidexample" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.app.link"
                    android:scheme="https" />
                <data
                    android:host="example-alternate.app.link"
                    android:scheme="https" />
            </intent-filter>

        </activity>

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_kaFuWw8WvY7yn1d9yYiP8gokwqjV0Sw" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_hlxrWC5Zx16DkYmWu4AHiimdqugRYMr" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" /> <!-- Set to true to use Branch_Test_Key -->

        <!-- Branch install referrer tracking (optional) -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activitys.AddSuperCarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.DocumentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.SliderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.UserCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.PricingAndTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PDFVIEWAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.SignupSuccessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.LanguageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.SurveyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.SurveyPreferenceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.ExpertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.PDFViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WebViewAppTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.PaymentInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PDFVIEWAppTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.PaymentCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PDFVIEWAppTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.ExpertListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.ChatMessageCopyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.ReviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PDFVIEWAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.ReviewSuccessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activitys.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileScreenTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.EventDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileScreenTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.RSVPSpotActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.PaymentCardListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PDFVIEWAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.EarningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PDFVIEWAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.EarningDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PDFVIEWAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PDFVIEWAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activitys.BaseActivity" />
        <activity
            android:name=".customviews.MyImageViewPagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>